{% extends 'sdgs_base.html' %}
{% load static %}
{% load teacher_filters %}

{% block custom_js_1 %}
    <script src="{% static 'js/theme.js' %}"></script>
{% endblock %}
{% block content %}
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">



            <div class="row-content am-cf">
                <div class="widget am-cf">
                    <div class="widget-body">
                        <div class="tpl-page-state">
                            <div class="tpl-page-state-title am-text-center tpl-error-title">403</div>
                            <div class="tpl-error-title-info">403 Forbidden</div>
                            <div class="tpl-page-state-content tpl-error-content">

                                <p>下载次数达到上限</p>
                                <button type="button" class="am-btn am-btn-secondary am-radius tpl-error-btn"><a
                                        href="{% url 'record:sdgs_brush_records' %}">Back Home</a></button></div>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    <div class="am-modal am-modal-prompt widget-body am-fr" tabindex="-1" id="my-prompt">
        <div class="am-modal-dialog">
            <form class="am-form tpl-form-line-form" method="post"
                  action="{% url 'record:sdgs_brush_edit' %}?next={{ request.get_full_path }}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="record_id" id="record_id">
                <div class="am-form-group">
                    <label for="order_number" class="am-u-sm-3 am-form-label">订单号</label>
                    <div class="am-u-sm-9">
                        <input type="text" placeholder="请输入订单号" id="order_number" name="order_number">
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="brush_money" class="am-u-sm-3 am-form-label">刷单费用</label>
                    <div class="am-u-sm-9">
                        <input type="text" placeholder="请输入刷单费用" id="brush_money" name="brush_money">
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="review_feedback" class="am-u-sm-3 am-form-label">留评反馈</label>
                    <div class="am-u-sm-9">
                        <input type="text" placeholder="请输入留评反馈" id="review_feedback" name="review_feedback">
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="record_status" class="am-u-sm-3 am-form-label">订单状态</label>
                    <div class="am-u-sm-9">
                        <label class="am-fl">
                            <select id="record_status" style="
                                    height: 35px;
                                    width: 200px;
                                    border: 1px solid #e6e6e6;
                                    padding-left: 8px;
                                    font-size: 16px;
                                    font-weight: 400;
                                " name="record_status">
                                <option value="no order">无订单</option>
                                <option value="already pay">已付款</option>
                                <option value="unpaid">未付款</option>
                            </select>
                            <i class="am-selected-icon am-icon-caret-down"
                               style="position: absolute; top: 5px; left: 193px;"></i>
                        </label>
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-u-sm-9 am-u-sm-push-3 am-fr">
                        <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block custom_js_2 %}
    <script src="{% static 'js/amazeui.min.js' %}"></script>
    <script src="{% static 'js/amazeui.datatables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/customize.js' %}"></script>
{% endblock %}