{% extends 'base.html' %}
{% load static %}
{% load teacher_filters %}

{% block custom_js_1 %}
    <script src="{% static 'js/theme.js' %}"></script>
{% endblock %}
{% block content %}
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-body  am-fr">

                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-9">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            {#                                            <button type="button" class="am-btn am-btn-default am-btn-success"><span#}
                                            {#                                                    class="am-icon-plus"></span> 新增#}
                                            {#                                            </button>#}
                                            {#                                            <button type="button" class="am-btn am-btn-default am-btn-secondary"><span#}
                                            {#                                                    class="am-icon-save"></span> 保存#}
                                            {#                                            </button>#}
                                            <form method="post" enctype="multipart/form-data"
                                                  action="{% url 'file:upload_excel' %}?next={{ request.get_full_path }}"
                                                  id="upload-image" style="padding-top: 0px;">
                                                <div class="am-form-group am-form-file upload-excel"
                                                     style="margin-bottom: 0px">
                                                    <button type="button"
                                                            class="am-btn am-btn-default am-btn-warning am-btn-xs"><span
                                                            class="am-icon-upload"></span> 导入
                                                    </button>
                                                    <input id="upload-inp" type="file" multiple="" name="excel_file"
                                                           onchange="upload(this)">
                                                    <input type="hidden" value="{{ record.id }}" name="record_id">
                                                    {% csrf_token %}
                                                </div>
                                            </form>


                                            {#                                            <button type="button" class="am-btn am-btn-default am-btn-warning"><span#}
                                            {#                                                    class="am-icon-archive"></span> 导入#}
                                            {#                                            </button>#}
                                            {#                                            <button type="button" class="am-btn am-btn-default am-btn-danger"><span#}
                                            {#                                                    class="am-icon-trash-o"></span> 删除#}
                                            {#                                            </button>#}
                                        </div>
                                        <div class="am-btn-group am-btn-group-xs">
                                            <form method="post"
                                                  action="{% url 'record:submit_brush' %}?next={{ request.get_full_path }}"
                                                  style="padding-top: 0px;">
                                                <div class="am-form-group" style="margin-bottom: 0px">
                                                    <button class="am-btn am-btn-success am-btn-primary am-btn-xs"
                                                            onclick="submit_check(this)"><span
                                                            class="am-icon-paw"></span> 提交
                                                    </button>
                                                    <input type="hidden" id="check_ids" name="check_ids">
                                                    {% csrf_token %}
                                                </div>
                                            </form>
                                        </div>
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button class="am-btn am-btn-default am-btn-secondary am-btn-xs"
                                                    onclick="download_template_file(this)" value="刷单提交模板.xlsx" style="margin-top: 1px;"><span
                                                    class="am-icon-download"></span> 下载模板
                                            </button>
                                        </div>
                                        {#                                        <div class="am-btn-group am-btn-group-xs">#}
                                        {#                                            <button class="am-btn am-btn-default am-btn-success am-btn-xs" onclick="download_file()"><span#}
                                        {#                                                    class="am-icon-download"></span> 导出#}
                                        {#                                            </button>#}
                                        {#                                        </div>#}
                                        {#                                        <div class="am-btn-group am-btn-group-xs">#}
                                        {#                                            <button class="am-btn am-btn-default am-btn-primary am-btn-xs" onclick="favorite(this)" value="{{ request.get_full_path }}"><span#}
                                        {#                                                    class="am-icon-star"></span> 收藏#}
                                        {#                                            </button>#}
                                        {#                                        </div>#}
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input type="text" class="am-form-field " placeholder="请输入ASIN查找"
                                           id="search_keywords">
                                    <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search"
                    type="button" id="jsSearchBtn" onclick="search_record()"></button>
          </span>
                                </div>
                            </div>

                            <div class="am-u-sm-12">
                                <table width="100%"
                                       class="am-table am-table-compact am-table-striped tpl-table-black am-table-centered">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" id="selectAll"></th>
                                        <th>提交日期</th>
                                        <th>id</th>
                                        <th>站点</th>
                                        <th>店铺</th>
                                        <th>中文名</th>
                                        <th>SKU</th>
                                        <th>ASIN</th>
                                        <th>刷单词</th>
                                        <th>feedback</th>
                                        <th>留评</th>
                                        <th>直评</th>
                                        <th>免评</th>
                                        <th>下单日期</th>
                                        <th>上评日期</th>
                                        <th>关键词页数</th>
                                        <th>主图片</th>
                                        <th>关键词链接</th>
                                        <th>产品售价</th>
                                        <th>提交状态</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for record in all_records.object_list %}
                                        <tr class="gradeX">
                                            <td style="vertical-align:middle" value="{{ record.id }}">
                                                <input name="ids" type="checkbox" class="record-checkbox"
                                                       value="{{ record.id }}">
                                            </td>
                                            <td class="am-text-middle"
                                                title="{{ record.add_time }}">{{ record.add_time | date:"Y-m-d" }}</td>
                                            <td class="am-text-middle"
                                                title="{{ record.id }}">{{ record.id }}</td>
                                            <td class="am-text-middle"
                                                title="{{ record.site }}">{{ record.site | truncate_word }}</td>
                                            <td class="am-text-middle"
                                                title="{{ record.shop }}">{{ record.shop | truncate_word }}</td>
                                            <td class="am-text-middle"
                                                title="{{ record.product_chinese_name }}">{{ record.product_chinese_name | truncate_word }}</td>
                                            <td class="am-text-middle"
                                                title="{{ record.sku }}">{{ record.sku | truncate_word }}</td>
                                            <td class="am-text-middle"
                                                title="{{ record.asin }}">{{ record.asin | truncate_word }}</td>
                                            <td class="am-text-middle"
                                                title="{{ record.order_word }}">{{ record.order_word }}</td>
                                            <td class="am-text-middle"
                                                title="{{ record.feedback }}">{{ record.feedback | truncate_word }}</td>
                                            <td class="am-text-middle"
                                                title="{{ record.review_number }}">{{ record.review_number | truncate_word }}</td>
                                            <td class="am-text-middle"
                                                title="{{ record.direct_review }}">{{ record.direct_review | truncate_word }}</td>
                                            <td class="am-text-middle"
                                                title="{{ record.free_review_number }}">{{ record.free_review_number | truncate_word }}</td>
                                            <td class="am-text-middle"
                                                title="{{ record.order_date }}">{{ record.order_date | date:"Y-m-d"  }}</td>
                                            <td class="am-text-middle"
                                                title="{{ record.review_date }}">{{ record.review_date | date:"Y-m-d"  }}</td>
                                            <td class="am-text-middle"
                                                title="{{ record.key_word_page_number }}">{{ record.key_word_page_number | truncate_word }}</td>
                                            {% if record.main_image %}
                                                <td>
                                                    <form method="post" enctype="multipart/form-data"
                                                          action="{% url 'record:upload_image' %}?next={{ request.get_full_path }}"
                                                          id="upload-image2" class="upload-image"
                                                          style="padding-top: 20px;">
                                                        <div class="am-form-group am-form-file">
                                                            <img src="{{ MEDIA_URL }}{{ record.main_image }}"
                                                                 class="tpl-table-line-img" alt="">
                                                            <input id="upload-inp2" type="file" multiple=""
                                                                   name="main_image" onchange="upload(this)">
                                                            <input type="hidden" value="{{ record.id }}"
                                                                   name="record_id">
                                                            {% csrf_token %}
                                                        </div>
                                                    </form>
                                                </td>
                                            {% else %}
                                                <td align="center" style="vertical-align:middle;">
                                                    <form method="post" enctype="multipart/form-data"
                                                          action="{% url 'record:upload_image' %}?next={{ request.get_full_path }}"
                                                          id="upload-image" style="padding-top: 20px;">
                                                        <div class="am-form-group am-form-file">
                                                            <button type="button"
                                                                    class="am-btn am-btn-sm" id="uploadChecks">
                                                                <i class="am-icon-cloud-upload"></i> 添加主图
                                                            </button>
                                                            <input id="upload-inp" type="file" multiple=""
                                                                   name="main_image" onchange="upload(this)">
                                                            <input type="hidden" value="{{ record.id }}"
                                                                   name="record_id">
                                                            {% csrf_token %}
                                                        </div>
                                                    </form>
                                                </td>
                                            {% endif %}

                                            <td class="am-text-middle" title="{{ record.key_word_link }}"><a
                                                    href="
                                                            {% if 'http' in record.key_word_link %}{{ record.key_word_link }}{% else %}https://{{ record.key_word_link }}{% endif %}"
                                                    target="_blank">{{ record.key_word_link | truncate_word }}</a></td>
                                            <td class="am-text-middle"
                                                title="{{ record.c_price }}">{{ record.c_price }}</td>
                                            <td class="am-text-middle"
                                                title="{{ record.get_brush_status_two_display }}">{{ record.get_brush_status_two_display }}</td>
                                            <td class="am-text-middle" style="width: 100px;">
                                                <button type="button"
                                                        class="am-btn am-btn-default am-btn-secondary edit-record am-btn-xs"><span
                                                        class="am-icon-pencil"></span>编辑
                                                </button>
                                                {% if record.review_type == "直评" %}
                                                    <button type="button"
                                                        class="am-btn am-btn-warning am-btn-secondary am-btn-xs" record_id="{{ record.id }}" direct_review_title="{{ record.direct_review_title }}" direct_review_content="{{ record.direct_review_content }}" direct_review_remark="{{ record.direct_review_remark }}" style="margin-top: 2px;" onclick="edit_direct_review(this)"><span
                                                        class="am-icon-pencil"></span>直评
                                                     </button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="am-u-lg-12 am-cf">

                                <div class="am-fr">
                                    <ul class="am-pagination tpl-pagination">
                                        {% if all_records.has_previous %}
                                            <li class="am-disabled"><a
                                                    href="?{{ all_records.previous_page_number.querystring }}">«</a>
                                            </li>
                                        {% endif %}
                                        {% for page in all_records.pages %}
                                            {% if page %}
                                                {% ifequal page all_records.number %}
                                                    <li class="am-active"><a
                                                            href="?{{ page.querystring }}">{{ page }}</a>
                                                    </li>
                                                {% else %}
                                                    <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a>
                                                    </li>
                                                {% endifequal %}
                                            {% else %}
                                                <li class="none"><a href="">...</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if all_records.has_next %}
                                            <li><a href="?{{ all_records.next_page_number.querystring }}">»</a></li>
                                        {% endif %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="am-modal am-modal-prompt widget-body am-fr" tabindex="-1" id="direct-review-prompt">
        <div class="am-modal-dialog">
            <form class="am-form tpl-form-line-form" method="post"
                  action="{% url 'record:yy_direct_review_edit' %}?next={{ request.get_full_path }}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="record_id" id="direct_review_record_id">
                <div class="am-form-group">
                    <label for="direct_review_title" class="am-u-sm-3 am-form-label">直评标题</label>
                    <div class="am-u-sm-9">
                        <input type="text" id="direct_review_title" placeholder="请输入直评标题" name="direct_review_title">
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="direct_review_content" class="am-u-sm-3 am-form-label">直评内容</label>
                    <div class="am-u-sm-9">
                        <textarea class="" rows="10" id="direct_review_content" placeholder="请输入直评内容" name="direct_review_content"></textarea>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="direct_review_remark" class="am-u-sm-3 am-form-label">直评备注</label>
                    <div class="am-u-sm-9">
                        <input type="text" id="direct_review_remark" placeholder="请输入直评备注" name="direct_review_remark">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-u-sm-9 am-u-sm-push-3 am-fr">
                        <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="am-modal am-modal-prompt widget-body am-fr" tabindex="-1" id="my-prompt">
        <div class="am-modal-dialog">
            <form class="am-form tpl-form-line-form" method="post"
                  action="{% url 'record:operation_edit_record' %}?next={{ request.get_full_path }}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="record_id" id="record_id">
                <div class="am-form-group">
                    <label for="site" class="am-u-sm-3 am-form-label">站点</label>
                    <div class="am-u-sm-9">
                        <input type="text" id="site" placeholder="请输入站点" name="site">
                    </div>
                </div>

                <div class="am-form-group">
                    <label for="shop" class="am-u-sm-3 am-form-label">店铺</label>
                    <div class="am-u-sm-9">
                        <input type="text" placeholder="请输入店铺" id="shop" name="shop">
                    </div>
                </div>

                <div class="am-form-group">
                    <label for="product_chinese_name" class="am-u-sm-3 am-form-label">产品中文名</label>
                    <div class="am-u-sm-9">
                        <input type="text" placeholder="请输入产品中文名" id="product_chinese_name" name="product_chinese_name">
                    </div>
                </div>

                <div class="am-form-group">
                    <label for="SKU" class="am-u-sm-3 am-form-label">SKU</label>
                    <div class="am-u-sm-9">
                        <input type="text" placeholder="请输入SKU" id="SKU" name="SKU">
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="order_word" class="am-u-sm-3 am-form-label">刷单词</label>
                    <div class="am-u-sm-9">
                        <input type="text" placeholder="请输入刷单词" id="order_word" name="order_word">
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="order_date" class="am-u-sm-3 am-form-label">下单日期</label>
                    <div class="am-u-sm-9">
                        <input type="text" class="am-form-field tpl-form-no-bg" placeholder="请输入下单日期" id="order_date" name="order_date" data-am-datepicker="" readonly="">
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="review_date" class="am-u-sm-3 am-form-label">上评日期</label>
                    <div class="am-u-sm-9">
                        <input type="text" class="am-form-field tpl-form-no-bg" placeholder="请输入上评日期" id="review_date" name="review_date" data-am-datepicker="" readonly="">
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="key_word_page_number" class="am-u-sm-3 am-form-label">关键词页数</label>
                    <div class="am-u-sm-9">
                        <input type="text" placeholder="请输入关键词页数" id="key_word_page_number" name="key_word_page_number">
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="key_word_link" class="am-u-sm-3 am-form-label">关键词链接</label>
                    <div class="am-u-sm-9">
                        <input type="text" placeholder="请输入关键词链接" id="key_word_link" name="key_word_link">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-u-sm-9 am-u-sm-push-3 am-fr">
                        <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block custom_js_2 %}
    <script src="{% static 'js/amazeui.min.js' %}"></script>
    <script src="{% static 'js/amazeui.datatables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/customize.js' %}"></script>
{% endblock %}